<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant App</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to Content</a>

    <!-- Mobile -->
    <div class="menu-mobile">
      <div class="icon_menu">
        <a id="hamburger" href="#" aria-label="navigation-menu">☰</a>
      </div>
      <div class="logo-mobile">Restaurant App</div>
      <div class="logo-mobile">&nbsp;</div>
    </div>
    <nav id="drawer" class="nav-mobile">
      <ul class="nav_list-mobile">
        <li class="nav_items-mobile"><a href="/">Home</a></li>
        <li class="nav_items-mobile"><a href="#">Favorite</a></li>
        <li class="nav_items-mobile">
          <a
            target="_blank"
            href="https://www.instagram.com/freedom.tradeitgg/?hl=id"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

    <!-- Dekstop -->
    <nav class="nav">
      <a class="logo" href="">Restaurant App</a>
      <ul class="nav_list">
        <li class="nav_items"><a href="/">Home</a></li>
        <li class="nav_items"><a href="#">Favorite</a></li>
        <li class="nav_items">
          <a
            target="_blank"
            href="https://www.instagram.com/freedom.tradeitgg/?hl=id"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

    <!-- Jumbotran -->
    <div class="hero">
      <div class="hero_element">
        <h1 class="hero_title">Restaurant App</h1>
        <p class="hero_subtitle">
          Cari Restaurant terbaikmu pada aplikasi Restaurant App
        </p>
      </div>
    </div>

    <!-- Content -->
    <main id="content">
      <section class="content">
        <div class="latest">
          <h1>Explore Restaurant</h1>
          <div class="list" id="tes"></div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <p>Copyright &copy; 2022 - Restaurant App</p>
    </footer>
  </body>
</html>
